.card {
  display: inline-block;
  width: 250px;
  border: 1px solid #00FFBD;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin:25px 30px; /* Add right margin for spacing between cards */
  border-radius: 1.1875rem;
border: 2px solid #00FFBD;
background: rgba(255, 255, 255, 0.11);
box-shadow: 18px 28px 20px 1px rgba(0, 0, 0, 0.25);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-details {
  padding: 16px;
  text-align: center;
  background-color: #00ffbb9e;
  fill: #00907F;
mix-blend-mode: exclusion;
  
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.card-designation {
  font-size: 1rem;
  color: #000000;
}
