@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.content{
  padding-top: 13.5vh;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2lvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 13.5lvh;
  background-color: black;
  position: fixed; /* Make the navigation bar fixed */
  width: 100%; /* Make it span the entire width of the viewport */
  top: 0; /* Position it at the top of the viewport */
  z-index: 10; /* Ensuring it's above other content */
  box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.4);
}

.logo {
  height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.menu-icon {
  display: none;
}

.nav-elements {
    
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    padding-right: 2lvh;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 13.5lvh;
    background-color: black;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    text-align: center;
  }

  .nav-elements.active {
    width: 100%;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
