@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Orbitron:wght@400;500&family=Press+Start+2P&display=swap');

body {
    background-color: black;
}
.Wrapper{
    position: relative;
}
.main1,
.main2 {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 1rem; 
    position: relative;
}

.main-slide1 img,
.main-slide2 img {
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: inline-block;
    margin-right: 1rem;
    filter: brightness(0.5);
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.main-slide1{
    display: inline-block;
    animation: 50s slide-right infinite linear;
}
.main-slide2 {
    display: inline-block;
    animation: 50s slide-left infinite linear;
}

.slider-heading {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Orbitron;
    font-style: normal;
    font-size: 6rem;
    font-weight: 800;
    line-height: 166px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    z-index: 2;
}
