@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Orbitron&family=Roboto&display=swap');

.workshop-container {
  
  margin-top: 6vh;
  .heading {
    color: #FFF;
    text-align: center;
    font-family: Orbitron;
    font-size: 15vh;
    font-style: normal;
    font-weight: 800;
    line-height: 10vh;
    /* letter-spacing: 0.5px; */
    text-transform: uppercase;
  }

  .card-container {
    /* display: flex; */
    /* justify-content: center; */
    height: 80vh;
    margin: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 8vh;
    background: linear-gradient(180deg, rgba(148, 12, 187, 0.24) 0%, rgba(85, 7, 108, 0.24) 37.6%, rgba(210, 69, 226, 0.24) 73.02%, rgba(143, 44, 245, 0.24) 100%);

    .card-heading {
      text-align: center;
      font-family: Akshar;
      font-size: 81px;
      font-style: normal;
      font-weight: 600;
      line-height: 132px;
      background: linear-gradient(265deg, #00FFBD -5.84%, #025B8C 111.58%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .card-content {
      flex: 1; /* Fill the remaining space */
      display: flex;
      justify-content: center;
      border-radius: 8vh;
    }

    .Upper-rectangle {
      position: relative;
      width: 90%;
      height: 90%;
      text-align: center;
      background-image: url("../../public/assets/globe.png");
      background-size: contain; /* Fit the entire image inside the container */
      border-radius: 5vh;
      overflow: hidden;

      .Lower-rectangle {
        position: absolute;
        font-family: Roboto;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.6);
        text-align: center;
        padding: 2vh;
        font-size: large;
        opacity: 0;
        transition: opacity 0.5s; 
      }

      &:hover .Lower-rectangle {
        opacity: 1;
      }
    }
  }

@media screen and (max-width: 768px) {
  .heading {
    font-size: 8vh;
    line-height: 4vh;
    margin-top: 2vh;
  }

  .card-container {
    margin: 6vh;
    height: 50vh;
    .card-heading {
      font-size: 4vh;
      line-height: 5vh;
      padding-top: 2vh;
    }
    // width: auto;

    .Upper-rectangle {
      .Lower-rectangle {
        padding: 1vh;
        font-size: small;
      }

      &:hover .Lower-rectangle {
        opacity: 1;
      }     

    }
  }
}
}
